#h{
    color: blue;
    font-size: 40px;
}

#im{
    width: 300px;
    height: 300px;
    border: 1px solid blue;
    align-items: center;
}
#dim{
    width:100%;
    display: flex;
    justify-content: center;
}